.button .generate {
    width: 120px;
    color: rgb(58, 146, 82);
}

.button .clear {
    margin-left: 5px;
    width: 120px;
    color: rgb(151, 56, 43);
}

@media only screen
and (min-width: 1200px) {
    .small-screen-size {
        display: none;
    }

    .icons {
        margin-top: 18px;
        margin-bottom: 25px;
    }

    hr {
        height: 2px;
        background-color: #fff;
        margin-bottom: 35px;
    }

    .font-head {
        font-size: 14pt;
        color: #fff;
        padding-left: 12px;
    }

    .font-content {
        max-width: 275px;
        word-wrap: break-word;
        font-size: 10pt;
        color: #fff;
        padding-left: 25px;
        margin-bottom: 15px;
    }

    .count {
        text-align: center;
        width: 250px;
        height: 45px;
        font-size: 16pt;
        margin: 20px auto 40px auto;
        padding: 8px;
        border-radius: 10px;
        background-color: #fff;
    }
}

@media only screen
and (max-width: 1199px) {
    .big-screen-size {
        display: none;
    }

    .title-bar {
        background-color: #3562be;
        height: 55px;
        padding-top: 5px;
    }

    .footer-bar {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        min-width: 300px;
        height: 46px;
        background-color: #3562be;
        color: #fff;
        padding: 2px;
        z-index: 1;
    }
    
    .title {
        width: 200px;
        height: 50px;
        font-size: 20pt;
        color: #fff;
        margin: auto;
        padding: 3px 6px;
    }

    .count {
        position: fixed;
        bottom: -1px;
        left: 10px;
        width: 250px;
        height: 38px;
        font-size: 15pt;
        color: #fff;
    }

    .button .generate {
        position: fixed;
        right: 10px;
        width: 120px;
        color: rgb(58, 146, 82);
        margin-top: 3px;
    }
}