<form class="form" [formGroup]="mainGroup" autocomplete="off">
  <span class="header">Client Details</span>
  <hr class="hr-header">
  <div>
    <mat-form-field appearance="outline" class="form-field" formGroupName="device" (click)="openDialogDevice()">
      <mat-label>Device</mat-label>
      <input matInput formControlName="serial_number" [(ngModel)]="mainGroup.value.device.serial_number" readonly>
      <mat-error *ngIf="mainGroup.get('device.serial_number').hasError('required')">
        Please select a device.
      </mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Facebook Post URL</mat-label>
      <textarea matInput formControlName="url" [errorStateMatcher]="matcher" rows="1"></textarea>
      <mat-error *ngIf="mainGroup.get('url').hasError('required')">
        Please enter a URL.
      </mat-error>
    </mat-form-field>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Product Name</mat-label>
        <input matInput formControlName="prod_name" [errorStateMatcher]="matcher" maxlength="20">
        <mat-error *ngIf="mainGroup.get('prod_name').hasError('required')">
          Please enter the product name.
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="outline" class="form-field">
        <mat-label>Price</mat-label>
        <input matInput type="number" formControlName="price" [errorStateMatcher]="matcher">
        <mat-error *ngIf="mainGroup.get('price').hasError('required')">
          Please enter a price.
        </mat-error>
        <mat-error *ngIf="mainGroup.get('price').hasError('min') || mainGroup.get('price').hasError('max')">
          Price must enter the amount 0 - 9999999.
        </mat-error>
      </mat-form-field>
    </div>
  </div>

  <div formGroupName="icons">
    <div class="checkbox">
      <mat-checkbox color="primary" [checked]="other.promotion" (change)="other.promotion = !other.promotion">
        <span class="checkbox-lable">Promotion</span>
      </mat-checkbox>
      <mat-checkbox color="primary" [checked]="other.hot_sale" (change)="other.hot_sale = !other.hot_sale">
        <span class="checkbox-lable">Hot Sale</span>
      </mat-checkbox>
      <mat-checkbox color="primary" [checked]="other.stock" (change)="other.stock = !other.stock">
        <span class="checkbox-lable">Stock Clearance</span>
      </mat-checkbox>
      <mat-checkbox color="primary" [checked]="other.limited" (change)="other.limited = !other.limited">
        <span class="checkbox-lable">Limited Edition</span>
      </mat-checkbox>
    </div>

    <hr class="hr-promotion" *ngIf="other.promotion">
    <div class="row" *ngIf="other.promotion" formGroupName="promotion">
      <div class="col-sm-10">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Amount</mat-label>
          <input matInput type="number" formControlName="amount">
        </mat-form-field>
      </div>
      <div class="col-sm-2">
        <mat-form-field appearance="outline" style="width: 100%;">
          <mat-label>Unit</mat-label>
          <mat-select formControlName="unit">
            <mat-option value="percent">%</mat-option>
            <mat-option value="baht">Baht</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-sm-12">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Offer Ends</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="date" readonly>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
  </div>
  <div class="footer text-right">
    <button mat-raised-button class="submit" (click)="submit()">Submit</button>
    <button mat-raised-button class="cancel" mat-dialog-close>Cancel</button>
  </div>
</form>