.container {
    width: 100%;
    min-height: 55px;
    font-size: 13pt;
    padding: 0%;
}

hr {
    margin: 0%;
    height: 5px;
    background-color: #3562be;
}

.content {
    height: 100%;
    background-color: #dddddd;
}

.col-xs-8 {
    padding: 0px;
}

@media only screen
and (min-width: 600px) {
    .button {
        height: 65px;
        font-size: 13pt;
    }
}

@media only screen
and (max-width: 599px) {
    .button {
        height: 55px;
        font-size: 13pt;
    }
}